[[source]]
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python = "3.6"

[dev-packages]
selenium = "*"
pytest = "*"
"pytest-cov" = "*"
codecov = "*"
bump2version = "*"

[packages]
requests = "*"
configparser = "*"
crayons = "*"
