[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python = "3.7"

[dev-packages]
selenium = "*"
pytest = "*"
"pytest-cov" = "*"
bump2version = "*"
pytest-xdist = "*"
pybrowsers = "*"

[packages]
requests = "*"
python-dotenv = "*"
packaging = "*"
