[[source]]
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

selenium = "*"
pytest = "*"
"pytest-cov" = "*"
codecov = "*"
mypy = {version = "*", markers="python_version >= '3.4'"}
"typed-ast" = {version = "*", markers="python_version >= '3.4'"}


[packages]

requests = "*"
configparser = "*"
crayons = "*"
typing = "*"
